---
version: "3.5"
services:
  hdm:
    image: ghcr.io/betadots/hdm
    container_name: hdm
    environment:
      - TZ=Europe/Berlin
    volumes:
      # folder to save the rails sqlite
      - /hdm_env/db:/hdm_env/db
      # certs to talk to puppetdb
      - /hdm_env/certs:/hdm_env/certs:ro
      # hdm main config
      - { type: 'bind', source: '/hdm_env/hdm.yml', target: '/hdm/config/hdm.yml', read_only: true }
      # hdm database config
      - { type: 'bind', source: '/hdm_env/database.yml', target: '/hdm/config/database.yml', read_only: true }

      ##### mount hiera as data dir in each pseudo env, if you have a seperate hiera repo
      # - /hdm_env/hiera:/etc/puppetlabs/code/environments/pre_development/data:ro
      # - /hdm_env/hiera:/etc/puppetlabs/code/environments/development/data:ro
      # - /hdm_env/hiera:/etc/puppetlabs/code/environments/test/data:ro
      # - /hdm_env/hiera:/etc/puppetlabs/code/environments/production/data:ro

      ### mount actual code directory from puppetserver
      # - /etc/puppetlabs/code/environments:/etc/puppetlabs/code/environments:ro

    ports:
      - 3000:3000
    restart: unless-stopped
