<div class="container-fluid">
    <h1>Editing Puppet Node</h1>
    <%= render 'form', puppet_node: @puppet_node %>
    <br>
    <%= link_to 'Show', @puppet_node, class:"btn btn-light min-width-btn" %>
    <%= link_to 'Back', puppet_nodes_path, class:"btn btn-light min-width-btn" %>
</div>