<div class="row">
  <div class="col-6">
    <%= render "environments/select_environment" %>
  </div>
  <div class="col-6">
    <%= render "nodes/select_node" %>
    <%= render "files/search" %>
    <%= link_to "Show tree", environment_tree_path(@environment), class: "btn btn-secondary mt-2" %>
  </div>
</div>
