<div class="container-fluid">
  <% if User.none? %>
    <h1>Create the initial admin account</h1>
  <% else %>
    <h1>New User</h1>
  <% end %>
  <%= render 'form', user: @user %>
  <br>
  <% if User.any? %>
    <%= link_to users_path, class:"btn btn-light min-width-btn" do %>
      <%= icon "arrow-left-short" %>
      Back
    <% end %>
  <% end %>
</div>
