<% split_diff = Diffy::SplitDiff.new(original_value, current_value, format: :html) %>
<table class="table">
  <thead>
    <tr>
      <th><%= @node.environment.name %></th>
      <th><%= @environment.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= raw(split_diff.left) %></td>
      <td><%= raw(split_diff.right) %></td>
    </tr>
  </tbody>
</table>
