<% unless config.nil? %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <% config.keys.each do |key| %>
      <tr>
        <td><%= key %></td>
        <td><%= config[key] %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% else %>
  <p>none</p>
<% end %>