<table class="table table-borderd">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% nodes.each do |node| %>
      <tr>
        <td>
          <%= node.name %>
        </td>
        <td>
        </td>
        <td class="text-right">
          <% if can? :show, node %>
            <%= link_to 'Options', puppet_environment_node_options_path(@environment, node), class: "btn btn-sm btn-light min-width-btn" %>
          <% end %>
          <% if can? :edit, node %>
            <%= link_to 'Edit', edit_puppet_environment_node_path(@environment, node), class:"btn btn-sm btn-primary min-width-btn" %>
          <% end %>
          <% if can? :delete, node %>
            <%= link_to 'Delete', puppet_environment_node_path(@environment, node), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger min-width-btn" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
