<div class="row">
  <div class="col-6">
    <%= render "environments/select_environment" %>
  </div>
  <div class="col-6">
  </div>
</div>

<div class="row mt-4">
  <div class="col-6">
    <%= render "files" %>
  </div>
  <div class="col-6">
  </div>
</div>
