[Unit]
Description=HDM
Requires=network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/hdm
WorkingDirectory=/opt/hdm
ExecStart=/bin/bash -lc 'bundle exec rails server -e $ENVIRONMENT -b $BIND -p $PORT'
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
