$font-family-sans-serif:      "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$blue: #0c71c3;
$green: #6BBE6B;
$cyan: #49bcc3;
$yellow: #db9500;
$red: #af0c26;

$navbar-light-brand-color: $red;

$breadcrumb-padding-x: 0;
$breadcrumb-font-size: .875em;
$breadcrumb-bg: #fff;

@import "~bootstrap/scss/bootstrap";

ol.breadcrumb li:first-child {
  padding-left: 0;
}

@import "~slim-select/dist/slimselect";

.bi {
  width: 1em;
  height: 1em;
}

.overflow-visible {
  overflow: visible !important;
}

.pups { color: black; }
