$font-family-sans-serif:      "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$blue: #0c71c3;
$green: #6BBE6B;
$cyan: #49bcc3;
$yellow: #db9500;
$red: #af0c26;

$navbar-light-brand-color: $red;

$breadcrumb-padding-x: 0;
$breadcrumb-font-size: .875em;
$breadcrumb-bg: #fff;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1900px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1540px
) !default;

@import "~bootstrap/scss/bootstrap";

ol.breadcrumb li:first-child {
  padding-left: 0;
}

@import "~slim-select/dist/slimselect";

.bi {
  width: 1em;
  height: 1em;
}
