<div class="row">
  <div class="col-6">
    <%= render "environments/select_environment" %>
  </div>
  <div class="col-6">
  </div>
</div>

<div class="row mt-4">
  <div class="col-6">
    <%= render "trees/files" %>
  </div>
  <div class="col-6">
    <div class="card mb-2">
      <div class="card-header">File content</div>
      <div class="card-body">
        <code><pre><%= @data_file.hiera_file.raw_content %></pre></code>
      </div>
    </div>
  </div>
</div>
