<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h1>Options</h1>
    </div>
    <div class="col text-right">
      <%= link_to 'Environments', puppet_environments_path, class: "btn btn-light" %>
      <%= link_to 'Nodes', puppet_environment_nodes_path(@environment), class: "btn btn-light" %>

      <% if can? :create, Puppet::Option.new %>
        <%= link_to 'New Option', new_puppet_environment_node_option_path(@environment, @node), class:"btn btn-light" %>
      <% end %>
    </div>
  </div>

  <%= render partial: "table", locals: { options: @options } %>
</div>
