<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h1>Environments</h1>
    </div>
    <div class="col text-right">
      <% if can? :create, Puppet::Environment.new %>
        <%= link_to 'New Environment', new_puppet_environment_path, class:"btn btn-light" %>
      <% end %>
    </div>
  </div>

  <%= render partial: "table", locals: { environments: @environments } %>
</div>
