<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h1>Show Environment</h1>
    </div>
    <div class="col text-right">
      <%= link_to 'Back', puppet_environments_path, class: "btn btn-light" %>
      <%= link_to 'Edit', edit_puppet_environment_path(@environment), class: "btn btn-light" %>
    </div>
  </div>
</div>
