<div class="container-fluid">
    <h1>Editing Puppet Environment</h1>
    <%= render 'form', puppet_environment: @puppet_environment %>
    <br>
    <%= link_to 'Show', @puppet_environment, class:"btn btn-light min-width-btn" %>
    <%= link_to 'Back', puppet_environments_path, class:"btn btn-light min-width-btn" %>
</div>